* {
    margin: 0;
    padding: 0;

    outline: none;
} 

body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: black;
}

.box{
    background-color: lightcyan;
}
section{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    margin-top: 20px;
    text-align: center;
}

.formula{
    text-align: center;
}

.text{
    text-align: justify;
}
.text1{
    margin-top: 20px;
    display: inline-flex;
    text-align: justify;
}
.imagem{
    display: flex;
}

ul {
    margin: 20px 0px;
}

ul>li {
    margin: 10px 30px;
    margin-left: 50px;
}
.value {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    max-height: 20%;
    position: relative;
}
.input {
    max-width: 50%;

    opacity: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#o-dropdown-icon,
#l-dropdown-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateY(6px);
}

#o-dropdown-icon:hover,
#l-dropdown-icon:hover {
    background-color: #ccc;
    border-radius: 50%;
}

.o-density-dropdown,
.l-density-dropdown {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
    width: 180px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 1px;
    z-index: 10000;
    position: absolute;
    box-shadow: 4px 4px 16px 0 rgb(235, 235, 235);
    transform: translateY(20px);
    transition: all 1s linear;


}


.o-density-dropdown>div,
.l-density-dropdown>div {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.7rem;
    color: rgb(54, 54, 54);
    border-bottom: 1px solid rgb(170, 170, 170);
    width: 100%;
    height: 45px;
    background-color: #fff;


}

.o-density-dropdown>div>span,
.o-density-dropdown>div>span>sup,
.l-density-dropdown>div>span,
.l-density-dropdown>div>span>sup {
    color: rgb(92, 87, 87);
}

button {
    display: inline;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 30px;
}

.tank-flex {
    margin-top: 2%;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.tank-container {
    height: 100%;
    max-width: auto;
} 


.extra-value {
    font-style: italic;
    display: flex;
    justify-content: left;
    align-items: flex;
    flex-direction: column;
    max-width: 100%;
}

#grafico {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
} 

/*
.info {
    width: 99%;
}

#sim {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 24px;
    width: 24px;
    right: 30px;
    animation: lazy-sim 0.8s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

#sim:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
}

#sim:hover~.dropdown,
#sim:hover+div {
    opacity: 1;
}


.dropdown {
    display: inline-block;
    height: auto;
    width: auto;
    background-color: #ccc;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: 58px;

    border-radius: 5px;

    font-size: 0.5rem;
    color: black;

    transform: translate(35%, 20%);
    opacity: 0;
}



.text {
    display: inline;
    width: 100%;
    margin: 30px 0 30px 0;
    text-align: justify;

}

p {


    line-height: 2.5rem;
    margin: 5px 0px;
    opacity: 0;
    font-weight: 300;

    font-family: sans-serif;
    font-size: 1.8rem;

    font-display: auto;

}


h2 {
    text-align: center;
    display: block;
    height: auto;
    width: 100%;
    background-image: linear-gradient(-45deg, #0A7DB7, #91e5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-size: 3.3rem;
    margin-bottom: 25px;
    font-weight: 500;

    animation: lazy 0.6s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

}

.hero>p {

    font-family: sans-serif;
    font-size: 1.8rem;
    animation: lazy-p 0.7s 0.8s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.hero2>p,
.text>p {
    animation: lazy 0.7s 0.8s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.hero3>p {
    animation: lazy 0.7s 0.8s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}



.text strong {
    font-size: 1.7rem;
    color: #39708b;
    border-radius: 5px;
    animation: lazy 0.9s 0.8s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}



.text strong>sub {

    font-size: 1.7rem;
    color: #39708b;
    border-radius: 5px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text {
    max-width: 50%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: 100%;


}

.image img {
    width: 100%;
    height: auto;
    transform: scale(0.6);
    animation: lazy-img 0.7s 0.1s forwards;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@keyframes lazy {

    from {
        transform: translateY(60%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }

}

@keyframes lazy-p {

    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }

}


@keyframes lazy-img {

    from {
        transform: translateY(10%) scale(0.6);
        opacity: 0;

    }

    to {
        transform: translateY(0%) scale(0.6);
        opacity: 1;

    }

}

@keyframes lazy-sim {

    from {
        transform: translateY(10%) rotate(180deg);
        opacity: 0;

    }

    to {
        transform: translateY(0%) rotate(180deg);
        opacity: 1;

    }

}



.btn,
.full-screen,
.min-screen {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    box-shadow: 6px 4px 16px 0 #ccc;
    border-radius: 50%;
    background: none;
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 10px;
}

.btn>img {
    display: block;
    height: 20px;
    width: 20px;
}


.min-screen {
    display: none;

}





.tank-container>svg {
    z-index: -5;
    overflow: visible;
    width: 100%;
    height: auto;
}


#tank-back {
    z-index: 6;
    position: absolute;

}

#block {

    transform: translateY(10%);
    transition: transform 0.8s cubic-bezier(0, 2, 1, 0.5);

}



#simulator {
    min-height: 80%;
    min-width: 100%;
    position: relative;
    top: 200px;
}


@media only screen and (max-width: 600px) {


    h2 {
        font-size: 3.1rem;
    }

    .col {
        flex-direction: column;
        width: 100%;
    }

    .text {
        max-width: 100%;
    }

    .image {
        max-width: 100%;
    }

    .image img {
        width: 100%;
        height: auto;

    }

    .tank-flex {
        max-height: 80%;
        flex-direction: column-reverse;
    }

    .tank-container,
    .extra-value {
        height: auto;
        max-width: 100%;
        position: absolute;
    }

    .tank-container {

        top: 0%;
        margin: 0%;
        max-height: 50%;

    }

    .extra-value {
        bottom: 0%;
        max-height: 40%;
        max-width: 100%;
    }

    .info,
    section {
        margin: 10px;
    }

}

@media only screen and (max-width: 768px) {

    h2 {
        font-size: 3.1rem;
    }

    .col {
        flex-direction: column;
        width: 100%;
    }

    .text {
        max-width: 100%;
    }

    .image {
        max-width: 100%;
    }

    .image img {
        width: 100%;
        height: auto;

    }

    .tank-flex {
        max-height: 80%;
        flex-direction: column-reverse;
    }

    .tank-container,
    .extra-value {
        height: auto;
        max-width: 100%;
        position: absolute;
    }

    .tank-container {

        top: 0%;
        margin: 0%;
        max-height: 50%;

    }

    .extra-value {
        bottom: 0%;
        max-height: 40%;
        max-width: 100%;
    }

    .info,
    section {
        margin: 10px;
    }

}
*/
